body {
   font-family: "Arial", sans-serif;
   margin: 0; /* Remove default margin */
 }
 
 .container {
   display: flex;
 }
 
 .sidenav {
   height: 100%;
   width: 250px; /* Set a fixed width for the side navigation */
   position: absolute; /* Change position to absolute */
   top: 0;
   left: 0;
   background-color: #111;
   overflow-x: hidden;
   transition: 0.5s;
   padding-top: 60px;
   z-index: 2; /* Set a higher z-index to place it on top of the main content */
 }
 
 .sidenav a {
   padding: 10px 15px;
   text-decoration: none;
   font-size: 18px;
   color: #818181;
   display: block;
   transition: 0.3s;
 }
 
 .sidenav a:hover {
   color: #f1f1f1;
 }
 
 .main {
   flex: 1; /* Allow main content to grow and take remaining space */
   padding: 20px; /* Add padding for better spacing */
   position: relative; /* Add relative positioning to the main content */
   z-index: 1; /* Set a lower z-index than the side navigation */
 }
 
 .openbtn {
   font-size: 20px; /* Decrease the size of the icon */
   cursor: pointer;
   color: #111;
   position: absolute; /* Change position to absolute */
   top: 20px; /* Adjust top position */
   left: 20px; /* Adjust left position */
   z-index: 3; /* Set a higher z-index than the side navigation */
 }
 
 .small-icon {
   font-size: 16px; /* Define smaller size */
 }
 
 .active {
   background-color: #4CAF50;
   color: white;
 }
 